<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login | Palm CRM</title>

    <meta name="author" content="Niner Labs, LLC"/>
    <meta name="description" content="Palm Medical Network - CRM Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/font-awesome.min.css') }}"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/font-awesome-ie7.min.css') }}"/>
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-fonts.css') }}"/>

    <!-- ace styles -->

    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-rtl.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-skins.min.css') }}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-ie.min.css') }}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="{{ asset('bundles/palmcrm/js/ace-extra.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/palmcrm/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/palmcrm/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body class="login-layout"
      style="background-image:url({{ asset('bundles/palmcrm/images/Palm-Background.jpg') }}); background-repeat:repeat; background-color:#FFFFFF;">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center" style="padding-top:15px;">
                        <img src="{{ asset('bundles/palmcrm/images/Palm-Logo-Login.png') }}"/>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border"
                             style="background-color:#FFFFFF;">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="icon-home blue"></i>
                                        Dashboard Login
                                    </h4>

                                    <div class="space-6"></div>

                                    {% if app.request.query.get('nonaccess') %}
                                        <div class="alert alert-error" id="error">
                                            <a class="close" onClick="$('.alert-error').hide()">×</a>
                                            <strong>Error:</strong>
                                            App user login not allowed to web panel
                                        </div>
                                    {% endif %}

                                    {% if error %}
                                        <div class="alert alert-error" id="error">
                                            <a class="close" onClick="$('.alert-error').hide()">×</a>
                                            <strong>Error:</strong>
                                            User and Password
                                        </div>
                                    {% endif %}

                                    {% if emailsent is defined %}
                                        <div class="alert alert-error" id="error">
                                            <a class="close" onClick="$('.alert-error').hide()">×</a>
                                            <strong>Msg:</strong>
                                            Email sent to email address provided: {{ emailsent }}
                                        </div>
                                    {% endif %}

                                    <form id="loginForm" action="{{ path('login_check') }}" method="post">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="Email"
                                                                   name="_username" id="username"
                                                                   value="{{ last_username }}"/>
															<i class="icon-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control"
                                                                   placeholder="Password" name="_password"
                                                                   id="password"/>
															<i class="icon-lock"></i>
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace" id="remember_me" name="_remember_me" />
                                                    <span class="lbl"> Remember Me</span>
                                                </label>

                                                <button type="button" class="width-35 pull-right btn btn-sm btn-primary"
                                                        onclick="$('#loginForm').submit();">
                                                    <i class="icon-key"></i>
                                                    Login
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>

                                </div>
                                <!-- /widget-main -->

                                <div class="toolbar clearfix">
                                    <div style="float:right">
                                        <a href="#" onclick="show_box('forgot-box'); return false;"
                                           class="forgot-password-link">
                                            I forgot my password
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- /widget-body -->
                        </div>
                        <!-- /login-box -->

                        <div id="forgot-box" class="forgot-box widget-box no-border" style="background-color:#FFFFFF;">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header red lighter bigger">
                                        <i class="icon-key"></i>
                                        Retrieve Password
                                    </h4>

                                    <div class="space-6"></div>
                                    <p>
                                        Enter your email and to receive instructions
                                    </p>

                                    <form method="post" id="forgotForm" action="{{ path('passforgot') }}">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="email" class="form-control"
                                                                   placeholder="Email" name="email"/>
															<i class="icon-envelope"></i>
														</span>
                                            </label>

                                            <div class="clearfix">
                                                <button type="button" class="width-35 pull-right btn btn-sm btn-danger" onclick="$('#forgotForm').submit();">
                                                    <i class="icon-lightbulb"></i>
                                                    Send Me!
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <!-- /widget-main -->

                                <div class="toolbar left">
                                    <a href="#" onclick="show_box('login-box'); return false;"
                                       class="back-to-login-link">
                                        <i class="icon-arrow-left"></i>
                                        Back to login
                                    </a>
                                </div>
                            </div>
                            <!-- /widget-body -->
                        </div>
                        <!-- /forgot-box -->

                    </div>
                    <!-- /position-relative -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>
<!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='{{ asset('bundles/palmcrm/js/jquery-2.0.3.min.js') }}'>" + "<" + "/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{{ asset('bundles/palmcrm/js/jquery-1.10.2.min.js') }}'>" + "<" + "/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='{{ asset('bundles/palmcrm/js/jquery.mobile.custom.min.js') }}'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->

<script type="text/javascript">
    function show_box(id) {
        jQuery('.widget-box.visible').removeClass('visible');
        jQuery('#' + id).addClass('visible');
    }

    $('#password').bind('keypress', function (e) {
        if (e.keyCode == 13) {
            $('#loginForm').submit();
        }
    });
</script>
</body>
</html>
