{% extends '::base.html.twig' %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ path('container') }}">Container</a></li>
            <li class="active">Show</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Container</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <table class="record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('container') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('container_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}