{% extends '::base.html.twig' %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            <li class="active">Dashboard</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}

                Welcome to Dashboard {{ app.user.fullname|capitalize }}

            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}