{% extends '::base.html.twig' %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="active">App Screens</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>App Screens</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Screen</th>
                        <th>Layout</th>
                        <th>Left</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Top</th>
                        <th>Visible</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('view_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.screen }}</td>
                            <td>{{ entity.layout }}</td>
                            <td>{{ entity.left }}</td>
                            <td>{{ entity.width }}</td>
                            <td>{{ entity.height }}</td>
                            <td>{{ entity.top }}</td>
                            <td>{{ entity.visible }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('view_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('view_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('view_new') }}">
                            Create a new screen
                        </a>
                    </li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}