{% extends '::base.html.twig' %}

{% block title %}Calendar | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            {# <li><a href="{{ path('dashboard') }}">Dashboard</a></li> #}
            <li class="active">Calendar</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Calendar</h1>
    </div>

    {% if status %}
        <div class="alert alert-success">
            {% if status == 'newAppointment' %} New appointment success! {% endif %}
        </div>
    {% endif %}
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}

                <div class="row">
                    <div class="col-sm-12">
                        <div class="space"></div>
                        <div id="calendar"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h4>User Legend</h4>

                        <!-- User Legend -->
                        {% for ul in user_legend %}
                            <span class='external-event label-{{ ul['color'] }}' data-class='label-{{ ul['color'] }}'>
                                <i class='icon-user'></i>
                                {{ ul['fullname'] }}
                            </span>
                        {% endfor %}
                        <!-- End User Legend -->


                    </div>
                    {% if app.user.webrol != 0 %}
                    <div class="col-sm-2">
                        <h4>&nbsp;</h4>
                        <button class="btn btn-info" data-toggle="modal" data-target="#addAppointment"><i
                                    class="icon-calendar align-top bigger-125 icon-on-right"
                                    style="padding-right:8px;"></i>Add Appointment
                        </button>
                    </div>
                    {% endif %}
                </div>

                <!-- Modal -->
                <form action="{{ path('calendar_create') }}" method="post" id="newForm">
                    <div class="modal fade" id="addAppointment" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Add Appointment</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="row">

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">
                                                Select Provider </label>

                                            <div class="col-sm-8">

                                                <select class="chosen-select" data-placeholder="Select Provider" name="id">
                                                    <option value="__">Select Provider</option>
                                                    {% for p in providers %}
                                                        <option value="{{ p.id }}">{{ p.lastname ~ ', ' ~ p.firstname ~ ' ' ~ p.middlename }}</option>
                                                    {% endfor %}
                                                </select>

                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">
                                                Select Date </label>

                                            <div class="col-sm-8">
                                                <input id="date" name="date" type="date" style="width:170px;"/>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">
                                                Select Time </label>

                                            <div class="col-sm-8">
                                                <select class="form-control" id="time" name="time" style="width:170px;">
                                                    <option value="__">Select Time</option>
                                                    {% for key,value in intervals %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary" onclick="$('#newForm').submit();">Add Appointment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        jQuery(function ($) {

            /* initialize the calendar
             -----------------------------------------------------------------*/

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar({
                buttonText: {
                    prev: '<i class="icon-chevron-left"></i>',
                    next: '<i class="icon-chevron-right"></i>'
                },

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: [
                    {% for el in event_list %}
                    {% if loop.last %}
                    { title: '{{ el['title'] }}', start: '{{ el['start'] }}', end: '{{ el['end'] }}', allDay: {{ el['allDay'] }}, className: '{{ el['className'] }}', color: '{{ el['color'] }}' }
                    {% else %}
                    { title: '{{ el['title'] }}', start: '{{ el['start'] }}', end: '{{ el['end'] }}', allDay: {{ el['allDay'] }}, className: '{{ el['className'] }}', color: '{{ el['color'] }}' },
                    {% endif %}
                    {% endfor %}
                ],
                editable: false,
                droppable: false, // this allows things to be dropped onto the calendar !!!
                drop: function (date, allDay) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');
                    var $extraEventClass = $(this).attr('data-class');


                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                },
                selectable: false,
                selectHelper: true,
                select: function (start, end, allDay) {
                },
                eventClick: function (calEvent, jsEvent, view) {

                    var formatted_date_hour = calEvent.start.getHours();
                    var formatted_date_minutes = calEvent.start.getMinutes();

                    if (formatted_date_minutes == 0) {
                        formatted_date_minutes = "00";
                    }
                    if (formatted_date_hour > 12) {
                        formatted_date_hour = formatted_date_hour - 12;
                        ampm = "pm"
                    } else {
                        ampm = "am";
                    }


                    var form = $("<form class='form-inline'><span style='width:200px; text-align:right; padding-right:8px;'>Provider Name:</span><span><b>" + calEvent.title + "</b></span><br><span style='width:200px; text-align:right; padding-right:8px;'>Appointment Time:</span><span><b>" + formatted_date_hour + ":" + formatted_date_minutes + ampm + "</b></span></form>");

                    var div = bootbox.dialog({
                        message: form,

                        buttons: {
                            "delete": {
                                "label": "<i class='icon-trash'></i> Delete Appointment",
                                "className": "btn-sm btn-danger",
                                "callback": function () {
                                    calendar.fullCalendar('removeEvents', function (ev) {
                                        return (ev._id == calEvent._id);
                                    })
                                    delete_apointment(calEvent.color);
                                }
                            },
                            "close": {
                                "label": "<i class='icon-remove'></i> Close",
                                "className": "btn-sm"
                            }
                        }

                    });

                    form.on('submit', function () {
                        calEvent.title = form.find("input[type=text]").val();
                        calendar.fullCalendar('updateEvent', calEvent);
                        div.modal("hide");
                        return false;
                    });

                }

            });

            //chosen plugin inside a modal will have a zero width because the select element is originally hidden
            //and its width cannot be determined.
            //so we set the width after modal is show
            $('#addAppointment').on('shown.bs.modal', function () {
                $(this).find('.chosen-container').each(function(){
                    $(this).find('a:first-child').css('width' , '210px');
                    $(this).find('.chosen-drop').css('width' , '210px');
                    $(this).find('.chosen-search input').css('width' , '200px');
                });
            })
            //or you can activate the chosen plugin after modal is shown
            //this way select element becomes visible with dimensions and chosen works as expected

            $(".chosen-select").chosen();


            $('#addAppointment').on('shown', function () {
                $(this).find('.modal-chosen').chosen();
            })

        })

        function delete_apointment(app_details) {
            {% set variable = 'variable' %}
            var url = "{{ path('calendar_disable', { 'id': variable }) }}";
            url = url.replace('variable', app_details);
            $.ajax({url: url, success: function (result) {
            }});
        }

    </script>
{% endblock %}