<!DOCTYPE html>
<html lang="en">

{% set route = app.request.attributes.get('_route') %}

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Palm CRM{% endblock title %}</title>

    <meta name="description" content="Palm Medical Network - CRM Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/font-awesome.min.css') }}"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/font-awesome-ie7.min.css') }}"/>
    <![endif]-->

    <!-- page specific plugin styles -->
    {% if 'user' in route %}
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    {% endif %}

    {% if 'calendar' in route %}
        <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/fullcalendar.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/chosen.css') }}"/>
    {% endif %}

    <!-- fonts -->

    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-fonts.css') }}"/>

    <!-- ace styles -->

    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace.min.css') }}"/>
    <!--<link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-rtl.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-skins.min.css') }}"/>
    -->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ asset('bundles/palmcrm/css/ace-ie.min.css') }}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="{{ asset('bundles/palmcrm/js/ace-extra.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/palmcrm/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/palmcrm/js/respond.min.js') }}"></script>
    <![endif]-->
</head>

<body class="navbar-fixed breadcrumbs-fixed">
<div class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <img src="{{ asset('bundles/palmcrm/images/Palm-Logo-Dashboard.png') }}" class="img-responsive"/>
            </a><!-- /.brand -->
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                {% if app.user %}
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="{{ asset('api/avatars/' ~ app.user.id ~ '.png') }}"
                                 alt="Jason's Photo"/>
								<span class="user-info">
									<small>Welcome,</small>
                                    {{ app.user.fullname }}
								</span>

                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="{{ path('user_show', {id: app.user.id}) }}">
                                    <i class="icon-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="{{ path('logout') }}">
                                    <i class="icon-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <!-- /.ace-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>

<div class="main-container" id="main-container">

    <div class="main-container-inner">
        {% if route != 'login' %}
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar sidebar-fixed" id="sidebar">

            <ul class="nav nav-list">
                {# <li {% if 'homepage' in route %} class="active" {% endif %}>
                    <a href="{{ path('dashboard') }}">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>
                </li> #}
                {# {% if app.user.webrol == 0 %}
                    <li {% if 'user' in route %} class="active" {% endif %}>
                        <a href="#">
                            <i class="icon-user"></i>
                            <span class="menu-text"> App Users </span>
                        </a>
                    </li>
                {% endif %} #}
                <li {% if 'doctors' in route %} class="active" {% endif %}>
                    <a href="{{ path('doctors') }}">
                        <i class="icon-book"></i>
                        <span class="menu-text"> Provider List </span>
                    </a>
                </li>

                <li {% if 'calendar' in route %} class="active" {% endif %}>
                    <a href="{{ path('calendar') }}">
                        <i class="icon-calendar"></i>
                        <span class="menu-text"> Calendar </span>
                    </a>
                </li>

                {# <li>
                    <a href="#">
                        <i class="icon-list-alt"></i>
                        <span class="menu-text"> Site Visit Form </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="icon-edit"></i>
                        <span class="menu-text"> Reports </span>
                    </a>
                </li> #}

            </ul>
            <!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                   data-icon2="icon-double-angle-right"></i>
            </div>

        </div>
        {% endif %}

        <div class="main-content">

            {% block bodyHeader %}{% endblock %}
            {% block body %}{% endblock %}
            {% block bodyFoot %}{% endblock %}

        </div>
        <!-- /.main-content -->

    </div>
    <!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='http://code.jquery.com/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{{ asset('bundles/palmcrm/js/jquery-1.10.2.min.js') }}'>" + "<" + "/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='{{ asset('bundles/palmcrm/js/jquery.mobile.custom.min.js') }}'>" + "<" + "/script>");
</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/palmcrm/js/typeahead-bs2.min.js') }}"></script>

{% if 'user' in route %}
    <!-- page specific plugin scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript">
        jQuery(function($) {

            //editables on first profile page
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editableform.loading = "<div class='editableform-loading'><i class='light-blue icon-2x icon-spinner icon-spin'></i></div>";
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="icon-ok icon-white"></i></button><button type="button" class="btn editable-cancel"><i class="icon-remove"></i></button>';
            //editables
            $('#full_name').editable({
                type: 'text',
                name: 'full_name',
                url:  'ajax',
                pk: {{ app.user.id }}
            });
            $('#email').editable({
                type: 'text',
                name: 'email',
                url:  'ajax',
                pk: {{ app.user.id }}
            });

        });
    </script>
{% endif %}

{% if 'calendar' in route %}
    <!-- page specific plugin scripts -->
    <script src={{ asset('bundles/palmcrm/js/jquery-ui-1.10.3.custom.min.js') }}></script>
    <script src={{ asset('bundles/palmcrm/js/jquery.ui.touch-punch.min.js') }}></script>
    <script src={{ asset('bundles/palmcrm/js/fullcalendar.min.js') }}></script>
    <script src={{ asset('bundles/palmcrm/js/bootbox.min.js') }}></script>
    <script src={{ asset('bundles/palmcrm/js/chosen.jquery.min.js') }}></script>
{% endif %}

<!--[if lte IE 8]>
<script src="{{ asset('bundles/palmcrm/js/excanvas.min.js') }}"></script>
<![endif]-->

<!--
<script src="{{ asset('bundles/palmcrm/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/jquery.ui.touch-punch.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/jquery.easy-pie-chart.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/jquery.sparkline.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/flot/jquery.flot.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/flot/jquery.flot.pie.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/flot/jquery.flot.resize.min.js') }}"></script>
-->

<script src="{{ asset('bundles/palmcrm/js/bootstrap-inputmask.min.js') }}"></script>

<!-- ace scripts -->
<script src="{{ asset('bundles/palmcrm/js/ace-elements.min.js') }}"></script>
<script src="{{ asset('bundles/palmcrm/js/ace.min.js') }}"></script>

<!-- JAVASCRIPTS END -->

{% block javascripts %}{% endblock %}

</body>

</html>
