{% extends '::base.html.twig' %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="active">Email Templates</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Email Templates</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <table class="table">
                    <thead>
                    <tr>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Body</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.from }}</td>
                            <td>{{ entity.subject }}</td>
                            <td>{{ entity.body }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('mailer_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if amazonaws[0] is defined %}
                    <div class="page-header">
                        <h1>Amazon AWS</h1>
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Amazon ID</th>
                            <th>Amazon Key</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ amazonaws[0].awsId }}</td>
                            <td>{{ amazonaws[0].awsSecretKey }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#amazonawsFormDiv">Edit
                        AWS
                    </button>

                    <!-- Modal -->
                    <form id="amazonawsForm" action="{{ path('mailer_updateaws', { 'id': amazonaws[0].id }) }}"
                          method="post">
                        <div class="modal fade" id="amazonawsFormDiv" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Amazon AWS</h4>
                                    </div>
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="aws_id">
                                                    AWS ID </label>

                                                <div class="col-sm-8">
                                                    <input type="text" name="aws_id"
                                                           placeholder="AWS ID" class="col-xs-10 col-sm-5"
                                                           maxlength="65" style="width:290px;"
                                                           value="{{ amazonaws[0].awsId }}"/>
                                                </div>
                                            </div>

                                            <br>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right"
                                                       for="aws_secret_key">
                                                    AWS Secret Key </label>

                                                <div class="col-sm-8">
                                                    <input type="text" name="aws_secret_key"
                                                           placeholder="AWS Secret Key"
                                                           class="col-xs-10 col-sm-5" maxlength="65"
                                                           style="width:290px;"
                                                           value="{{ amazonaws[0].awsSecretKey }}"/>
                                                </div>
                                            </div>

                                            <br>

                                            <div class="space-4"></div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                onclick="$('#amazonawsForm').submit();">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}

            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}