{% extends '::base.html.twig' %}

{% block title %}Add User | App Users | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ path('user') }}">User</a></li>
            <li class="active">New</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>User creation</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

{% block body -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block bodyFoot %}
    <!-- PAGE CONTENT ENDS -->

    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
    </div>
    <!-- /.page-content -->
{% endblock %}