{% extends '::base.html.twig' %}

{% block title %}Profile | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            {# <li><a href="{{ path('dashboard') }}">Dashboard</a></li> #}
            <li>
                {% if app.user.webrol == 0 %}
                    {# <a href="{{ path('user') }}"> #}User{# </a> #}
                {% else %}
                    User
                {% endif %}
            </li>
            <li class="active">Profile</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Profile</h1>
    </div>
    {% if error is defined %}
        {% for e in error %}
            <div class="alert alert-{% if e == 'Password change success!' %}success{% else %}danger{% endif %}">
                {{ e }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <div>
                    <div id="user-profile-1" class="user-profile row">
                        <div class="col-xs-12 col-sm-3 center">
                            <div>
												<span class="profile-picture">
													<img id="avatar" class="editable img-responsive" alt="Alex's Avatar"
                                                         src="{{ asset('api/avatars/' ~ entity.id ~ '_profile.png') }}"/>
												</span>

                                <div class="space-4"></div>

                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <i class="icon-circle light-green middle"></i>
                                        &nbsp;
                                        <span class="white">{{ entity.fullname }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-9">

                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Full Name</div>
                                    <div class="profile-info-value">
                                        <span class="editable" id="full_name">{{ entity.fullname }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email</div>
                                    <div class="profile-info-value">
                                        <span class="editable" id="email">{{ entity.email }}</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Password</div>
                                    <div class="profile-info-value">
                                        <span class="editable" id="age"><button class="btn btn-xs btn-success"
                                                                                data-toggle="modal"
                                                                                data-target="#changePassword">Change
                                                Password
                                            </button></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <form id="passwordForm" action="{{ path('user_updatepass', {id: entity.id}) }}" method="post">
                    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">
                                                Current Password </label>

                                            <div class="col-sm-8">
                                                <input type="password" name="current_password"
                                                       placeholder="Current Password" class="col-xs-10 col-sm-5"
                                                       maxlength="65" style="width:290px;"/>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">
                                                New
                                                Password </label>

                                            <div class="col-sm-8">
                                                <input type="password" name="new_password" placeholder="New Password"
                                                       class="col-xs-10 col-sm-5" maxlength="65" style="width:290px;"/>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">
                                                Verify New Password </label>

                                            <div class="col-sm-8">
                                                <input type="password" name="new_password_confirm"
                                                       placeholder="Verify New Password" class="col-xs-10 col-sm-5"
                                                       maxlength="65" style="width:290px;"/>
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary"  onclick="$('#passwordForm').submit();">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}

{% block javascript %}{% endblock %}
