{% extends '::base.html.twig' %}

{% block title %}Edit Provider | Providers List | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            {# <li><a href="{{ path('dashboard') }}">Dashboard</a></li> #}
            <li><a href="{{ path('doctors') }}">Provider List</a></li>
            <li class="active">Edit Provider</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
<div class="page-header">
    <h1>Edit Provider</h1>
</div>

        {% if status %}
            <div class="alert alert-success">
                {% if status == 'newAppointment' %} New appointment success! {% endif %}
            </div>
        {% endif %}
<!-- /.page-header -->

<div class="row">
<div class="col-xs-12">
<!-- PAGE CONTENT BEGINS -->
{% endblock %}

{% block body -%}

    <div class="space-8"></div>

    <div class="tabbable">
    <ul class="nav nav-tabs padding-18 tab-size-bigger" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#faq-tab-1">
                <i class="blue icon-folder-open bigger-120"></i>
                Provider Details
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#faq-tab-2">
                <i class="blue icon-eye-open bigger-120"></i>
                Site Visit History
            </a>
        </li>

    </ul>

    <div class="tab-content no-border padding-24">
    <div id="faq-tab-1" class="tab-pane fade in active">
        <h4 class="blue">
            <i class="blue icon-folder-open bigger-120"></i>
            Provider Details
        </h4>

        <div class="space-8"></div>

        {{ form_start(edit_form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'editForm' }}) }}
        {{ form_errors(edit_form) }}

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Last Updated </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.lastupdate) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Last Name </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.lastname) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> First Name </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.firstname) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Middle Name </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.middlename) }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Degree </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.degree) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Specialty </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.specialty) }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Location </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.location) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Address
                1 </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officeaddress1) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Address 2 </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officeaddress2) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office City </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officecity) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office State </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officestate) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Zip </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officezip) }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office
                Telephone </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officetel, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Fax </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officefax, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}) }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Manager </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.officemanager) }}
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email Address </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.emailaddress) }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Comments </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.comments) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Status </label>

            <div class="col-sm-9">
                {{ form_row(edit_form.providerstatus) }}
            </div>
        </div>

        <div class="space-4"></div>

        <hr>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>

            <div class="col-sm-9">
                <button class="btn btn-info"><i class="icon-save align-top bigger-125 icon-on-right"
                                                style="padding-right:8px;"></i>Save Changes
                </button>
                {% if app.user.webrol != 0 %}
                    <button class="btn btn-info" data-toggle="modal" data-target="#addAppointment"><i
                                class="icon-calendar align-top bigger-125 icon-on-right" style="padding-right:8px;"></i>Add
                        Appointment
                    </button>
                {% endif %}
            </div>
        </div>

        {{ form_widget(edit_form.submit, {'attr': {'style': 'display:none;' }}) }}

        {{ form_end(edit_form) }}

    </div>

    <div id="faq-tab-2" class="tab-pane fade">
        <h4 class="blue">
            <i class="blue icon-eye-open bigger-110"></i>
            Site Visit History
        </h4>

        <div class="space-8"></div>

        Site Visit History Coming Soon...

    </div>
    </div>
    </div>

    <!-- Modal -->
    <form action="{{ path('calendar_create') }}" method="post" id="newForm">
        <div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Add Appointment</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Select
                                    Date </label>

                                <div class="col-sm-8">
                                    <input id="date" name="date" type="date" style="width:170px;"/>
                                </div>
                            </div>

                            <br>

                            <div class="form-group">
                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1"> Select
                                    Time </label>

                                <div class="col-sm-8">
                                    <select class="form-control" id="time" name="time" style="width:170px;">
                                        <option value="__">Select Time</option>
                                        {% for key,value in intervals %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <input type="hidden" value="{{ id }}" name="id">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="$('#newForm').submit();">Add Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block bodyFoot %}
<!-- PAGE CONTENT ENDS -->

</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}