{% extends '::base.html.twig' %}

{% block title %}Providers List | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            {# <li><a href="{{ path('dashboard') }}">Dashboard</a></li> #}
            <li class="active">Provider List</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Provider List</h1>
    </div>
    {% if status %}
        <div class="alert alert-success">
            Provider {% if status == 'new' %}add {% else %} edit{% endif %} success!
        </div>
    {% endif %}
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <div class="row">
                    <div class="col-xs-12">

                        <div class="table-responsive">
                            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Provider's Name</th>
                                    <th>Degree</th>
                                    <th>Specialty</th>
                                    <th>Office Address</th>
                                    <th>Office #</th>
                                    <th>Fax #</th>
                                    <th>Office Manager</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        <button class="btn btn-info" onClick="window.location.href='{{ path('doctors_new') }}'"><i class="icon-save align-top bigger-125 icon-on-right" style="padding-right:8px;"></i>Add Provider</button>
                    </div>
                </div>

            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}

{% block javascripts %}

    <!-- page specific plugin scripts -->
    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        jQuery(function($) {
            var oTable1 = $('#sample-table-2').dataTable( {
                dom: "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                language: {
                    search: "Search: ",
                    lengthMenu: "Display _MENU_ records",
                    paginate: {
                        previous: "<i class='icon-double-angle-left'></i>",
                        next: "<i class='icon-double-angle-right'></i>"
                    }
                },
                aaSorting: [],
                columnDefs: [
                    {
                        sortable: false,
                        className: "hidden-480",
                        width: "10px",
                        targets: [ 0 ]
                    },
                    {
                        className: "hidden-480",
                        width: "90px",
                        targets: [ 2 ]
                    },
                    {
                        className: "hidden-480",
                        width: "110px",
                        targets: [ 3 ]
                    },
                    {
                        sortable: false,
                        className: "hidden-480",
                        width: "250px",
                        targets: [ 4 ]
                    },
                    {
                        sortable: false,
                        width: "90px",
                        targets: [ 5 ]
                    },
                    {
                        sortable: false,
                        className: "hidden-480",
                        width: "90px",
                        targets: [ 6 ]
                    },
                    {
                        sortable: false,
                        className: "hidden-480",
                        width: "150px",
                        targets: [ 7 ]
                    }
                ],
                serverSide: true,
                ajax: '{{ path('doctors_ajax') }}'
            } );

            $('#sample-table-2').css({ "width": ''});
            $('.input-sm').attr('class', '');
        })
    </script>

{% endblock %}