{% extends '::base.html.twig' %}

{% block title %}Add Provider | Providers List | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            {# <li><a href="{{ path('dashboard') }}">Dashboard</a></li> #}
            <li><a href="{{ path('doctors') }}">Provider List</a></li>
            <li class="active">Add Provider</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
<div class="page-header">
    <h1>Add Provider</h1>
</div>
<!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        {% endblock %}

        {% block body -%}
            <div class="space-8"></div>

            <div class="space-8"></div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'id': 'newForm' }}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* Last Name </label>

                <div class="col-sm-9">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* First Name </label>

                <div class="col-sm-9">
                    {{ form_row(form.firstname) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Middle Name </label>

                <div class="col-sm-9">
                    {{ form_row(form.middlename) }}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Degree </label>

                <div class="col-sm-9">
                    {{ form_row(form.degree) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Specialty </label>

                <div class="col-sm-9">
                    {{ form_row(form.specialty) }}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Location </label>

                <div class="col-sm-9">
                    {{ form_row(form.location) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* Office Address 1 </label>

                <div class="col-sm-9">
                    {{ form_row(form.officeaddress1) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Address 2 </label>

                <div class="col-sm-9">
                    {{ form_row(form.officeaddress2) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* Office City </label>

                <div class="col-sm-9">
                    {{ form_row(form.officecity) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* Office State </label>

                <div class="col-sm-9">
                    {{ form_row(form.officestate) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* Office Zip </label>

                <div class="col-sm-9">
                    {{ form_row(form.officezip) }}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">* Office Telephone </label>

                <div class="col-sm-9">
                    {{ form_row(form.officetel, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Fax </label>

                <div class="col-sm-9">
                    {{ form_row(form.officefax, {'attr': {'class': 'form-control', 'data-mask': '(999) 999-9999' }}) }}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Office Manager </label>

                <div class="col-sm-9">
                    {{ form_row(form.officemanager) }}
                </div>
            </div>
            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email Address </label>

                <div class="col-sm-9">
                    {{ form_row(form.emailaddress) }}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Comments </label>

                <div class="col-sm-9">
                    {{ form_row(form.comments) }}
                </div>
            </div>

            <div class="space-4"></div>

            <hr>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> </label>

                <div class="col-sm-9">
                    <button class="btn btn-info"><i class="icon-save align-top bigger-125 icon-on-right"
                                                    style="padding-right:8px;"></i>Add Provider
                    </button>
                </div>
            </div>

            {{ form_widget(form.submit, {'attr': {'style': 'display:none;' }}) }}

            {{ form_row(form.providerstatus, {'attr': {'style': 'display:none;' }}) }}

            {{ form_row(form.lastupdate, {'attr': {'style': 'display:none;' }}) }}

            {{ form_end(form) }}


        {% endblock %}

        {% block bodyFoot %}
        <!-- PAGE CONTENT ENDS -->

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}