{% extends '::base.html.twig' %}

{% block title %}Show Provider | Providers List | Palm CRM{% endblock title %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            {# <li><a href="{{ path('dashboard') }}">Dashboard</a></li> #}
            <li><a href="{{ path('doctors') }}">Provider</a></li>
            <li class="active">Show</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Provider</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <table class="record_properties">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ entity.location }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ entity.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ entity.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Middlename</th>
                        <td>{{ entity.middlename }}</td>
                    </tr>
                    <tr>
                        <th>Degree</th>
                        <td>{{ entity.degree }}</td>
                    </tr>
                    <tr>
                        <th>Specialty</th>
                        <td>{{ entity.specialty }}</td>
                    </tr>
                    <tr>
                        <th>Officeaddress1</th>
                        <td>{{ entity.officeaddress1 }}</td>
                    </tr>
                    <tr>
                        <th>Officeaddress2</th>
                        <td>{{ entity.officeaddress2 }}</td>
                    </tr>
                    <tr>
                        <th>Officecity</th>
                        <td>{{ entity.officecity }}</td>
                    </tr>
                    <tr>
                        <th>Officestate</th>
                        <td>{{ entity.officestate }}</td>
                    </tr>
                    <tr>
                        <th>Officezip</th>
                        <td>{{ entity.officezip }}</td>
                    </tr>
                    <tr>
                        <th>Officetel</th>
                        <td>{{ entity.officetel }}</td>
                    </tr>
                    <tr>
                        <th>Officefax</th>
                        <td>{{ entity.officefax }}</td>
                    </tr>
                    <tr>
                        <th>Officemanager</th>
                        <td>{{ entity.officemanager }}</td>
                    </tr>
                    <tr>
                        <th>Comments</th>
                        <td>{{ entity.comments }}</td>
                    </tr>
                    <tr>
                        <th>Emailaddress</th>
                        <td>{{ entity.emailaddress }}</td>
                    </tr>
                    <tr>
                        <th>Lastupdate</th>
                        <td>{{ entity.lastupdate }}</td>
                    </tr>
                    <tr>
                        <th>Providerstatus</th>
                        <td>{{ entity.providerstatus }}</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('doctors') }}">
                            Back to the list
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('doctors_edit', { 'id': entity.id }) }}">
                            Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}