{% extends '::base.html.twig' %}

{% block bodyHeader -%}
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                Home
            </li>
            <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            <li class="active">Screens Elements</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

<div class="page-content">
    <div class="page-header">
        <h1>Elements list</h1>
    </div>
    <!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            {% endblock %}

            {% block body -%}
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Left</th>
                        <th>Top</th>
                        <th>Color</th>
                        <th>Text</th>
                        <th>Fontfamily</th>
                        <th>Fontsize</th>
                        <th>fontWeight</th>
                        <th>Value</th>
                        <th>height</th>
                        <th>right</th>
                        <th>width</th>
                        <th>backgroundImage</th>
                        <th>backgroundFocusedImage</th>
                        <th>backgroundColor</th>
                        <th>buttonID</th>
                        <th>hintText</th>
                        <th>borderColor</th>
                        <th>borderRadius</th>
                        <th>paddingLeft</th>
                        <th>options</th>
                        <th>id</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('element_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.type }}</td>
                            <td>{{ entity.left }}</td>
                            <td>{{ entity.top }}</td>
                            <td>{{ entity.color }}</td>
                            <td>{{ entity.text }}</td>
                            <td>{{ entity.fontfamily }}</td>
                            <td>{{ entity.fontsize }}</td>
                            <td>{{ entity.fontweight }}</td>
                            <td>{{ entity.value }}</td>
                            <td>{{ entity.height }}</td>
                            <td>{{ entity.right }}</td>
                            <td>{{ entity.width }}</td>
                            <td>{{ entity.backgroundImage }}</td>
                            <td>{{ entity.backgroundFocusedImage }}</td>
                            <td>{{ entity.backgroundColor }}</td>
                            <td>{{ entity.buttonID }}</td>
                            <td>{{ entity.hintText }}</td>
                            <td>{{ entity.borderColor }}</td>
                            <td>{{ entity.borderRadius }}</td>
                            <td>{{ entity.paddingLeft }}</td>
                            <td>{{ entity.options }}</td>
                            <td>{{ entity.id }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('element_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('element_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('element_new') }}">
                            Create new screen element
                        </a>
                    </li>
                </ul>
            {% endblock %}

            {% block bodyFoot %}
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
    <!-- /.page-content -->
{% endblock %}